<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input class='form-control ajax_validator__field' data-form-object='validations/signup_form_company_name' data-resource-model='company' data-resource-attr-name='name' type='text' name='signup_form[company]' id='signup_form_company'>
      </div>
    </div>
  </div>
</div>
